@tailwind base;
@tailwind components;
@tailwind utilities;

.holder {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: #ebe5df;
  min-height: 400px;
}

.flip-preloader {
  width: 300px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  perspective: 300px;
  perspective-origin: 50% 50%;
}

.flip-preloader.example-1 {
  top: 25%;
  height: 100px;
  width: 400px;
}

.flip-preloader.example-2 {
  top: 75%;
  height: 30px;
  width: 200px;
}

.flip-preloader div {
  position: absolute;
  width: 20%;
  height: 100%;
  background-color: red;
  left: 0%;
  box-sizing: border-box;
  transform-origin: 0% 50%;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.flip-preloader.example-1 div {
  animation-duration: 4s;
}

.flip-preloader.example-2 div {
  animation-duration: 2s;
}

.flip-preloader div:nth-child(1) {
  left: 0%;
  background-color: #44b3c2;
  animation-name: flipPreloader1;
  z-index: 1;
}

.flip-preloader div:nth-child(2) {
  left: 20%;
  background-color: #f1a94e;
  animation-name: flipPreloader2;
  z-index: 2;
}

.flip-preloader div:nth-child(3) {
  left: 40%;
  background-color: #e45641;
  animation-name: flipPreloader3;
  z-index: 3;
}

.flip-preloader div:nth-child(4) {
  left: 60%;
  background-color: #5d4c46;
  animation-name: flipPreloader4;
  z-index: 4;
}

.flip-preloader div:nth-child(5) {
  left: 80%;
  background-color: #7b8d8e;
  animation-name: flipPreloader5;
  z-index: 5;
}

@keyframes flipPreloader1 {
  0% {
    transform: rotateY(-180deg);
    opacity: 0;
    transform-origin: 0% 50%;
    background-color: #44b3c2;
  }
  4% {
    background-color: #44b3c2;
  }
  5% {
    background-color: #7b8d8e;
  }
  10% {
    transform: rotateY(0deg);
    opacity: 1;
    background-color: #7b8d8e;
    transform-origin: 0% 50%;
  }
  11% {
    transform-origin: 100% 50%;
    background-color: #44b3c2;
  }
  48% {
    z-index: 1;
  }
  49% {
    z-index: 10;
  }
  50% {
    transform: rotateY(0deg);
  }
  51% {
    transform-origin: 100% 50%;
  }
  60% {
    transform: rotateY(180deg);
    opacity: 1;
    background-color: #44b3c2;
  }
  61% {
    opacity: 0;
  }
  100% {
    z-index: 10;
    transform: rotateY(180deg);
    opacity: 0;
    transform-origin: 100% 50%;
    background-color: #44b3c2;
  }
}

@keyframes flipPreloader2 {
  0% {
    transform: rotateY(-180deg);
    background-color: #7b8d8e;
    opacity: 0;
    transform-origin: 0% 50%;
  }
  9% {
    opacity: 0;
  }
  10% {
    transform: rotateY(-180deg);
    opacity: 1;
  }
  15% {
    background-color: #7b8d8e;
  }
  20% {
    background-color: #7b8d8e;
    transform: rotateY(0deg);
    transform-origin: 0% 50%;
  }
  21% {
    transform-origin: 100% 50%;
    background-color: #f1a94e;
  }
  48% {
    z-index: 2;
  }
  49% {
    z-index: 9;
  }
  60% {
    opacity: 1;
    transform: rotateY(0deg);
    background-color: #f1a94e;
  }
  61% {
    background-color: #44b3c2;
    transform-origin: 100% 50%;
  }
  64% {
    background-color: #44b3c2;
  }
  65% {
    background-color: #f1a94e;
  }
  70% {
    transform: rotateY(180deg);
    opacity: 1;
  }
  71% {
    opacity: 0;
  }
  100% {
    z-index: 9;
    background-color: #f1a94e;
    transform: rotateY(180deg);
    opacity: 0;
    transform-origin: 100% 50%;
  }
}

@keyframes flipPreloader3 {
  0% {
    transform: rotateY(-180deg);
    background-color: #7b8d8e;
    opacity: 0;
    transform-origin: 0% 50%;
  }
  19% {
    opacity: 0;
  }
  20% {
    transform: rotateY(-180deg);
    opacity: 1;
  }
  25% {
    background-color: #7b8d8e;
  }
  30% {
    background-color: #7b8d8e;
    transform: rotateY(0deg);
    transform-origin: 0% 50%;
  }
  31% {
    transform-origin: 100% 50%;
    background-color: #e45641;
  }
  48% {
    z-index: 3;
  }
  49% {
    z-index: 8;
  }
  70% {
    transform: rotateY(0deg);
    opactiy: 1;
    background-color: #e45641;
  }
  71% {
    background-color: #f1a94e;
    transform-origin: 100% 50%;
  }
  74% {
    background-color: #f1a94e;
  }
  75% {
    background-color: #e45641;
  }
  80% {
    transform: rotateY(180deg);
    opacity: 1;
  }
  81% {
    opacity: 0;
  }
  100% {
    z-index: 8;
    background-color: #e45641;
    transform: rotateY(180deg);
    opacity: 0;
    transform-origin: 100% 50%;
  }
}

@keyframes flipPreloader4 {
  0% {
    transform: rotateY(-180deg);
    background-color: #7b8d8e;
    opacity: 0;
    transform-origin: 0% 50%;
  }
  29% {
    opacity: 0;
  }
  30% {
    transform: rotateY(-180deg);
    opacity: 1;
  }
  35% {
    background-color: #7b8d8e;
  }
  40% {
    background-color: #7b8d8e;
    transform: rotateY(0deg);
    transform-origin: 0% 50%;
  }
  41% {
    transform-origin: 100% 50%;
    background-color: #5d4c46;
  }
  48% {
    z-index: 4;
  }
  49% {
    z-index: 7;
  }
  80% {
    transform: rotateY(0deg);
    opacity: 1;
    background-color: #5d4c46;
  }
  81% {
    background-color: #e45641;
    transform-origin: 100% 50%;
  }
  84% {
    background-color: #e45641;
  }
  85% {
    background-color: #5d4c46;
  }
  90% {
    transform: rotateY(180deg);
    opacity: 1;
  }
  91% {
    opacity: 0;
  }
  100% {
    z-index: 7;
    background-color: #5d4c46;
    transform: rotateY(180deg);
    opacity: 0;
    transform-origin: 100% 50%;
  }
}

@keyframes flipPreloader5 {
  0% {
    transform: rotateY(-180deg);
    background-color: #7b8d8e;
    opacity: 0;
    transform-origin: 0% 50%;
  }
  39% {
    opacity: 0;
  }
  40% {
    transform: rotateY(-180deg);
    opacity: 1;
  }
  45% {
    background-color: #7b8d8e;
  }
  48% {
    z-index: 5;
  }
  49% {
    z-index: 6;
  }
  50% {
    background-color: #7b8d8e;
    transform: rotateY(0deg);
    transform-origin: 0% 50%;
  }
  51% {
    transform-origin: 100% 50%;
    background-color: #7b8d8e;
  }
  90% {
    transform: rotateY(0deg);
    opacity: 1;
    background-color: #7b8d8e;
  }
  91% {
    background-color: #5d4c46;
    transform-origin: 100% 50%;
  }
  94% {
    background-color: #5d4c46;
  }
  95% {
    background-color: #7b8d8e;
  }
  100% {
    z-index: 6;
    background-color: #7b8d8e;
    transform: rotateY(180deg);
    opacity: 0;
    transform-origin: 100% 50%;
  }
}
